@model TheGamerR00M.Models.PostModel
@{
    ViewBag.Title = "gotoPost";
}
<div class="Posts">
    <img src="@Model.PostImageURL" />
    <br />
    <h2>@Model.PostTitle</h2>
    <div>
        @Model.PostBody
    </div>
    <br />
    @Model.Post_CDate
</div>

