
@{
    ViewBag.Title = "Log In";
}

<h2>Login Page</h2>
<div id="loginForm">
    @if (TempData.ContainsKey("errorInvalid"))
    {
        <div class="alert alert-danger text-center" style="margin-top: 15px;">
            @TempData["errorInvalid"]
        </div>
    }
    <div style="margin-left: 10px; margin-right: 10px">
        <div id="userLogin" class="col-sm-6">
            <div id="UserPass">
                <br />
                <h3>Login</h3>
                @using (Html.BeginForm()) { 
                    
                <input type="text" class="form-control" name="UserName" autocomplete="off" id="username" placeholder="User Name" required="">
                <br />
                <input type="password" class="form-control" name="Password" autocomplete="off" id="password" placeholder="Password" required="">
                <br />
                <button type="submit" value="LogIn" name="action:LogIn" class="btn block full-width m-b">Login</button>
                    
                }
            </div>
        </div>
        <div id="userReg" class="col-sm-6">
            <div id="Reg">
                <br />
                <h3>Register</h3>
                <button type="button" data-toggle="modal" data-target="#RegisterUser" class="btn block full-width m-b">Register</button>
            </div>
        </div>
    </div>
</div>

<div id="RegisterUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" type="button" class="close">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div id="RegisterTextField" class="modal-body">
                @using (Html.BeginForm()) {
                <input type="text" class="form-control" name="UserName" autocomplete="off" id="username" placeholder="Username" required="">
                <input type="text" class="form-control" name="UserEmail" autocomplete="off" id="useremail" placeholder="Email" required="">
                <input type="password" class="form-control" name="Password" autocomplete="off" id="password" placeholder="Password" required="">
                <input type="password" class="form-control" name="ConfirmPassword" autocomplete="off" id="confirmpassword" placeholder="Confirm Password" required="">
                <button type="submit" value="Register" name="action:Register" class="btn block full-width m-b">Register</button>
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>