@{
    ViewBag.Title = "My Account";
}

<h2>My Account</h2>
<div style="margin-left: 30px; margin-right: 30px">
    <div id="userLogin" class="col-sm-6">
        <h3>UserName:</h3>
        <label name="lblUserName"></label>
        <h3>Email:</h3>
        <label name="lblEmail"></label>
        <h3>Rank:</h3>
        <label name="lblRank"></label>
        <h3>Status:</h3>
        <label name="lblStatus"></label>
    </div>
</div>

